{{!< layout/default}}

{{#extend "css"}}
    <!-- Aqui se supone que incluyo mis CSS de index.html -->
    <link rel="stylesheet" type="text/css" href="/public/css/default/default.css">
{{/extend}}

{{> navbar}}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        <button id="button" type="button" class="btn btn-success">API USERS</button>
    </div>
</div>
<input type="text" placeholder = "username" id="username">
<input type="text" placeholder = "name" id="name">
<input type="text" placeholder = "lastname" id="lastname">
<input type="text" placeholder = "birthdate" id="birthdate">
<input type="text" placeholder = "role" id="role">
<input type="text" placeholder = "password" id="password">
<input type="text" placeholder = "mail" id="mail">
<input type="text" placeholder = "phone" id="phone">
<button id="save" type="button" class="btn btn-primary">button</button>

{{#extend "js"}}
    <script type="text/javascript" src="/public/js/index/index.js"></script>
    <!-- Aqui se supone que incluyo los JS del index.html -->
{{/extend}}